{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/styles.css" rel="stylesheet">
		{% django_browser_reload_script %}
	</head>

	<body class="bg-pink-200 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-6xl">Welcome to Django + Tailwind</h1>
			</section>
		</div>
	</body>
</html>
