{% extends "app/base.html" %}

{% load bootstrap_icons %}
{% load static %}
{% block content %}

<div class="flex bg-gray-800 items-center justify-center p-5 shadow-lg shadow-indigo-500/50">
	<h1 class="text-3xl text-white">Profile</h1>

	<div class="absolute right-0 pr-4">
		<div class="bg-gray-700 place-self-end rounded-md m-3 p-2">
		    <button class="flex text-white text-center tracking-wider right-0" onclick="location.href='/profile/logout'">
			    {% bs_icon 'person-x-fill' size='1.5em' %}
			    <p class="text-white text-center tracking-wider px-2 hidden md:block">
			      Logout
			    </p>
			</button>
	    </div>
	</div>
</div>



<section class="min-h-screen flex justify-center items-center">
  <div class="w-full md:max-w-[60vw] lg:max-w-[40vw] bg-gray-300 shadow-lg rounded overflow-hidden mt-12 mb-24 mx-12">

  	<div class="grid grid-cols-3 bg-gray-800 p-8">
      <div>
      </div>
      <div>
        <p class="text-white text-center text-xl tracking-wider ml-[-15px] md:ml-auto">
          {{ user.first_name }} {{ user.last_name }}
        </p>
      </div>
      <div class="bg-gray-700 place-self-end rounded-md">
		  <button class="flex text-white text-center tracking-wider right-0" onclick="location.href='/profile/registration'">
		    {% bs_icon 'pencil-square' size='1.5em' %}
		    <p class="text-white text-center tracking-wider px-2 hidden md:block">
		      Edit Profile
		    </p>
		  </button>
		</div>
    </div>


    <div >

      <div class="p-6">

      	 <div class="flex flex-wrap ">
      	   <div class="w-1/4"></div>

          <div class="w-1/4 px-2 mb-6 flex justify-center items-center">
            <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2 text-center text-2xl">Points</label>
          </div>

          <div class="w-1/4 px-2 mb-6">
            <input class="appearance-none block w-full bg-gray-300 text-gray-700 border text-center text-3xl rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  type="text" value="{{ points }}" disabled  />
          </div>

        </div>


        <div class="w-full mb-6 px-2">
          <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="username">Username</label>
          <input class="appearance-none block w-full bg-gray-300 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="username" type="text" placeholder="Username" value="{{ user.username }}" disabled  />
        </div>

        <div class="w-full mb-6 px-2">
          <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="NIC">NIC</label>
          <input class="appearance-none block w-full bg-gray-300 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="NIC" type="text" placeholder="Username" value="{{ nic }}" disabled  />
        </div>

        <div class="w-full mb-6 px-2">
          <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="Location">Location</label>
          <input class="appearance-none block w-full bg-gray-300 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="Location" type="text" placeholder="Username" value="{{ city }}" disabled  />
        </div>

        <div class="w-full mb-6 px-2">
          <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="email">Email</label>
          <input class="appearance-none block w-full bg-gray-300 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="email" type="text" placeholder="Username" value="{{ user.email }}" disabled  />
        </div>


      </div>

    </div>

    
  </div>
</section>



{% endblock content %}