{% extends "app/base.html" %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}

<section class="min-h-screen flex justify-center items-center">
  <div class="w-full md:max-w-[60vw] lg:max-w-[40vw] bg-gray-300 shadow-lg rounded overflow-hidden my-16 mx-12">
    <div class="grid grid-cols-3 bg-gray-800 p-8">
        <div>
          <button class="flex text-white text-center tracking-wider" onclick="location.href='/'">
            {% bs_icon 'house-fill' size='1.5em' %}
          </button>
        </div>
        <div>
          <p class="text-white text-center text-xl tracking-wider ml-[-15px] md:ml-auto">
            Registration
          </p>
        </div>
        <div class="bg-gray-700 place-self-end rounded-md">
          <button class="flex text-white text-center tracking-wider right-0" onclick="location.href='/profile/login'">
            {% bs_icon 'arrow-right-square-fill' size='1.5em' %}
            <p class="text-white text-center tracking-wider px-2 hidden md:block">
              Login
            </p>
          </button>
        </div>
      </div>
    <form method="post">
      {% csrf_token %}

      <div class="p-6">

        <div class="w-full mb-6 px-2">
          <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="username">Username</label>
          <input class="appearance-none block w-full bg-gray-400 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="username" id="username" type="text" placeholder="Username" 
          {% if form.username.value != None %}value="{{ form.username.value|stringformat:'s' }}"{% endif %} required/>
          <p class="text-red-500 text-xs italic">{{ form.username.errors.as_text }}</p>
        </div>

        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 px-2 mb-6">
            <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="firstName">First Name</label>
            <input class="block w-full bg-gray-400 text-gray-700 border border-gray-300 rounded py-3 px-4 focus:outline-none focus:bg-white focus:border-gray" name="first_name" id="firstName" type="text" placeholder="First Name" 
            {% if form.first_name.value != None %}value="{{ form.first_name.value|stringformat:'s' }}"{% endif %} required/>
            <p class="text-red-500 text-xs italic">{{ form.first_name.errors.as_text }}</p>
          </div>
          <div class="w-full md:w-1/2 px-2 mb-6">
            <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="lastName">Last Name</label>
            <input class="block w-full bg-gray-400 text-gray-700 border border-gray-300 rounded py-3 px-4 focus:outline-none focus:bg-white focus:border-gray" name="last_name" id="lastName" type="text" placeholder="Last Name" 
            {% if form.last_name.value != None %}value="{{ form.last_name.value|stringformat:'s' }}"{% endif %} required/>
            <p class="text-red-500 text-xs italic">{{ form.last_name.errors.as_text }}</p>
          </div>
        </div>

        <div class="w-full mb-6 px-2">
          <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="nic">NIC Number</label>
          <input class="appearance-none block w-full bg-gray-400 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="nic" id="nic" type="text" placeholder="NIC" 
          {% if form.nic.value != None %}value="{{ form.nic.value|stringformat:'s' }}"{% endif %} required/>
          <p class="text-red-500 text-xs italic">{{ form.nic.errors.as_text }}</p>
        </div>

        <div class="flex flex-wrap ">

          <div class="w-full md:w-1/3 px-2 mb-6">
            <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="province">Province</label>
            <select class="block w-full bg-gray-400 text-gray-700 border border-gray-300 rounded py-3 px-2 focus:outline-none focus:bg-white focus:border-gray" id="province" onchange="getlocations('districts',this.value);" required>
              <option class="bg-slate-300" selected disabled>---</option>
              {% for province in provinces %}
                <option value={{ province.id }} class="bg-slate-300">{{ province.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="w-full md:w-1/3 px-2 mb-6">
            <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="district">District</label>
            <select class="block w-full bg-gray-400 text-gray-700 border border-gray-300 rounded py-3 px-4 focus:outline-none focus:bg-white focus:border-gray" id="district" onchange="getlocations('cities',this.value);" required>
              <option class="bg-slate-300" selected disabled>---</option>
            </select>
          </div>

          <div class="w-full md:w-1/3 px-2 mb-6">
            <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="city">City</label>
            <select class="block w-full bg-gray-400 text-gray-700 border border-gray-300 rounded py-3 px-4 focus:outline-none focus:bg-white focus:border-gray" name="city" id="city" required> 
              <option class="bg-slate-300" selected disabled>---</option>
            </select>
            <p class="text-red-500 text-xs italic">{{ form.city.errors.as_text }}</p>
          </div>

        </div>

        <div class="w-full mb-6 px-2">
          <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="email">Email</label>
          <input class="appearance-none block w-full bg-gray-400 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="email" id="email" type="email"  placeholder="Email" 
          {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %} required/>
          <p class="text-red-500 text-xs italic">{{ form.email.errors.as_text }}</p>
        </div>

        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 px-2 mb-6">
            <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="password">Password</label>
            <input class="block w-full bg-gray-400 text-gray-700 border border-gray-300 rounded py-3 px-4 focus:outline-none focus:bg-white focus:border-gray" name="password1" id="password" type="password" placeholder="********" required/>
            <p class="text-red-500 text-xs italic">{{ form.password1.errors.as_text }}</p>
          </div>
          <div class="w-full md:w-1/2 px-2 mb-6">
            <label class="block uppercase tracking-wider text-gray-700 text-xs font-bold mb-2" for="repeatpassword">Repeat Password</label>
            <input class="block w-full bg-gray-400 text-gray-700 border border-gray-300 rounded py-3 px-4 focus:outline-none focus:bg-white focus:border-gray" name="password2" id="repeatpassword" type="password" placeholder="********" required/>
            <p class="text-red-500 text-xs italic">{{ form.password2.errors.as_text }}</p>
          </div>
        </div>

        <div class="flex justify-center">
          <button class="shadow bg-gray-800 hover:bg-blue-900 focus:shadow-outline focus:outline-none text-white py-2 px-4 rounded" type="submit">
            Sign Up
          </button>
        </div>
      </div>
    </form>

    <div class="w-full px-2 mb-4 text-blue-900 flex justify-center md:hidden">
      <label class="text-sm font-bold mr-3 pt-1 ">Have an account?</label>
       <button class="flex text-center tracking-wider right-0" onclick="location.href='/profile/login'">
        {% bs_icon 'arrow-right-square-fill' size='1.5em' %}
        <p class="text-center tracking-wider px-2">
          Login
        </p>
      </button>
    </div>
  </div>
</section>

<script type="text/javascript">
  function getlocations(linktxt, id){
    $.ajax({
        url : '{{ request.path }}'+'/'+linktxt+'/'+id,
        type : 'GET',
        dataType:'json',
        success : function(data) {  
            var list = data.context; 
            for (var i = 0; i <= list.length - 1; i++) {
                if(linktxt=='districts'){
                  $( "#district" ).append("<option value='"+list[i].id+"' class='bg-slate-300'>"+list[i].name+"</option>");
                  $('#city').children().not(':first').remove();
                }else if(linktxt=='cities'){
                  $( "#city" ).append("<option value='"+list[i].id+"' class='bg-slate-300'>"+list[i].name+"</option>");
                }
              }           
        },
        error : function(request,error)
        {
            console.log("Request: "+JSON.stringify(request));
        }
    });
  }
  
</script>

{% endblock content %}