{% load bootstrap_icons %}

{% for item in items %}        	
<div class="my-6 mx-auto max-w-screen-xl p-4 border-l-2 border-t-2 border-slate-400 rounded-3xl ">
    <div class="md:flex rounded-lg py-6 px-4 border-2 border-r-4 border-b-4 rounded-br-none bg-indigo-100 border-blue-900/60 relative">
    	<!--<div class="h-56 w-96 border-2 border-gray-50 rounded rounded-lg mx-2 md:mr-6 flex justify-center p-2">
    		<img alt="Boiler plate" src="/media/briefcase.svg" class="h-52">
    	</div>-->
        
        <div class="text-center md:text-left px-16">
            <h2 class="text-3xl">{{ item.title }}</h2>
            <span class="text-gray-500 py-1">{{ item.created }}</span>
            <p class="text-lg">{{ item.desc }}</p>
            <p>Availability : {{ item.times }}</p>
            <p>Contact Number : {{ item.cont }}</p>
            <p>Contact Email : {{ item.email }}</p>
            <p>Address : {{ item.add }}</p>
            <p>Location : {{ item.city }}, {{ item.district }}</p>
            <h5 class="text-lg mt-3 text-blue-500 md:ml-12">{{ item.user }}</h5>
        </div>

        <div class="md:absolute md:right-0 top-0 grid md:grid-flow-col">

            <h1 class="text-2xl font-bold text-center align-middle md:pt-8 
            {% if not user.is_authenticated  %}md:mr-6 {% endif %}
            {% if item.user == user.get_username %}md:mr-6 {% endif %}">{{ item.revPoints }}</h1>
            
                {% if user.is_authenticated  %}
                    {% if item.user != user.get_username %}
                        <div class="bg-blue-900/70 h-[64px] w-[256px] justify-self-center p-2 rounded-lg md:my-5 scale-[70%] ">
                            <five-stars value={{ item.rev }} onclick="review(this, {{ item.id }})"></five-stars>
                        </div>
                    {% endif %}
                {% endif %}
            
        </div>
        
        {% if item.user == user.get_username %}
        <div class="absolute bottom-0 right-0 p-3">
            
            <button class="text-green-500 flex text-center tracking-wider right-0 m-2" onclick="editpost({{ item.id }}, 2)">
            {% bs_icon 'pencil-square' size='1.5em' %}
            </button>

            <button class="text-red-500 flex text-center tracking-wider right-0 m-2" onclick="deletepost({{ item.id }})">
            {% bs_icon 'trash3-fill' size='1.5em' %}
            
            </button>
        </div>
        {% endif %}
    </div>
</div>

{% endfor %}

{% if not filter %}
    {% if items|length > 0 %}
        {% with items|last as last %}
            <div class="relative">{{filter}}
                <button class="absolute bg-gray-700 rounded-md flex text-white text-center tracking-wider right-2 bottom-0 items-center p-2 px-3 md:px-2 md:py-0" onclick="showmore({{ last.itid }}, 2, this)">
                    <p class="text-white text-center tracking-wider pr-2 hidden md:block">
                      Show More
                    </p>
                    {% bs_icon 'chevron-double-down' %}
                </button>
            </div>
        {% endwith %}
    {% endif %}
{% endif %}